body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    /* Light mode default */
    background-color: white;
    color: black;
  }
  /* Dark mode */
  body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  header, section, footer {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }




  /* Toggle button */
  #darkModeToggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background: #eee;
    border-radius: 5px;
  }

  body.dark-mode #darkModeToggle {
    background: #333;
    color: white;
  }
